<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="You have been invited to join <%=room.title%>!">
  <meta name="robots" content="follow, noindex">
  <meta name="author" content="PxLine Team">
  <meta name="theme-color" content="#7A2FFF">
  <meta name="keywords" content="chat app, nodejs chat app">
  <meta property="og:site_name" content="PxLine">
  <meta property="og:image" content="/assets/preview-logo.jpg">
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="300">
  <meta property="og:locale" content="en_US">
  <title>You have been invited!</title>
  <link rel="stylesheet" href="/css/invite.css">
  <link rel="stylesheet" href="/css/toast.css">
  <script src="https://kit.fontawesome.com/c0b785182d.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="toast-container"></div>
<div class="invite-container">
  <div class="invite-card">
    <img src="<%=room.icon%>" alt="<%=room.title%> icon">
    <p>You've been invited to join</p>
    <h1><%=room.title%></h1>
    <p class="total-members"><%=room.members.length%> Members</p>
    <form action="/invite/<%=room._id%>" method="POST">
      <button class="accept-btn">Accept Invite</button>
    </form>
      <button class="no-thanks-btn" onclick="window.location.href='/'">No Thanks</button>
  </div>
</div>
<script>
  let messages = <%-JSON.stringify(messages)%>;
</script>
<script src="/scripts/main.js"></script> 
</body>
</html>